<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Biodata</title>
  </head>
  <body>
    <h1>Game Biodata</h1>

    <hr />
    <% if (status === 500) { %>
    <h1>Input Salah</h1>
    <% } %>

    <form action="user" method="post">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Masukan Nama" />

      <br />

      <label for="job">Job</label>
      <input type="text" id="job" name="job" placeholder="Masukan job" />

      <br />

      <label for="status">status</label>
      <input
        type="text"
        id="status"
        name="status"
        placeholder="Masukan status"
      />

      <br />

      <input type="submit" value="Tambah" />
    </form>
  </body>
</html>
