<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <% if (status && status === 500) { %> Silahkan coba lagi. <% } %>
    <form action="register" method="post">
      <input type="text" name="name" placeholder="Masukkan Name" /><br />
      <input
        type="text"
        name="username"
        placeholder="Masukkan Username"
      /><br />
      <input
        type="password"
        name="password"
        placeholder="Masukkan Password"
      /><br />
      <input type="submit" value="Register" />
    </form>
  </body>
</html>
